BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
AlignConsecutiveDeclarations: true
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 80
